 body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background:url(voice.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            font-family: Arial, sans-serif;
        }
        .container {
            text-align: center;
            background:lightblue;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .container:hover{
            translate:scale(2.3);
            background-color:aqua;
        }
        input[type="text"] {
            width: 80%;
            padding: 10px;
            margin-top: 10px;
            border: 1px solid black;
            border-radius: 5px;
            font-weight: bold;
        }
        button {
            margin-top: 20px;
            padding: 10px 20px;
            background-color:green;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: darkgreen;
            font-weight: bold;
        }
    @media (max-width: 600px) {
    body {
        background: url(voice.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        background: url(voice.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media (min-width: 1025px) {
    body {
        background:url(voice.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
